* {
    margin: 0;
    padding: 0;
}

.page{
    background-image: url(./images/bkg2.gif);
    background-repeat: no-repeat;
    /* background-attachment: fixed;  */
     /* background-size: cover; */
    /* overflow: hidden; */
    background-size: 500px 500px;
    background-color: rgb(251, 254, 255);
    transition: background-color 2s ease-in-out;
}
.page:hover{
    background-color: black;
}

.emptyDiv {
    height: 10px;
    background-color: rgb(11, 11, 10);
}

.intro {
    display: flex;
    height: 30%;
    width: 60%;
    margin: 2% 0 2% 0;
    /* border: 2px solid rgb(247, 236, 236); */
    /* justify-content: space-around;*/
    flex-wrap: wrap;
}

.introDiv1 {
    color: #e67d97;
    /* font-family: cursive; */
    /* background-color: rgb(239, 242, 247); */
    width: 60%;
    height: 130px;
    font-size: large;
}

p{
    white-space: nowrap;
    overflow: hidden;
    margin: 10px 0 0 10px;
    padding: 3px;;
    width: 16.5em;
    animation: type 5s steps(60, end);
    line-height:40px;
}
@keyframes type{
    from {
         width: 0;
         }
     }

.introDiv2 {
    /* background-color: black; */
    width: 177px;
    height: 165px;
}

.profilePhoto {
    width: 100%;
    height: 100%;
    border-radius: 101px;
    filter: saturate(0.5);
    /* display: none; */
    animation: profilePh 4s linear;
}
@keyframes profilePh{
    0% {opacity: 0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.profilePhoto:hover{
    filter: drop-shadow(8px 8px 10px  #e67d97);
}
.profileBtn {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border-color: rgb(57 99 147);
    background-color:rgb(57 99 147);
    /* color: rgb(200, 188, 188); */
    margin: 0 0 0 50px;
    animation: profilePh 12s linear;
}

.profileBtn:hover {
    background-color: rgb(239, 249, 249);
}

.profileDetails {
    display: flex;
    margin: 1% 1% 0 4%;
    justify-content: space-around;
    /* flex-flow: row; */
    flex-wrap: wrap;

}
.aboutDetails{
    display: flex;
    margin: 1% 1% 0 4%;
    justify-content: space-around;
    /* flex-flow: row; */
    flex-wrap: wrap;
}

.commonProfile {
    height: 392px;
    width: 350px;
    background-color: #a6c7e8;
    border: 2px solid rgb(243, 240, 240);
    border-radius: 30px;
    padding: 1%;
    display: none;
}

.commonProfile:hover{
    background-color: rgb(242, 232, 232);
}

.aboutCommonProfile{
        height: 350px;
        width: 350px;
        background-color: #a6c7e8;
        border: 2px solid rgb(243, 240, 240);
        border-radius: 30px;
        padding: 1%;
        display: none;
}

.aboutCommonProfile:hover{
    background-color: rgb(242, 232, 232);
}
.childCommonProfile {
    background-color: black;
    height: 95%;
    width: 99%;
    border-radius: 10px;
    color: white;
}

table {
    /* border: 1px solid white; */
    width: 97%;
    margin: 0 0 0 5px;
}

td {
    padding: 14px 0 2px 0;
    /* border: 1px solid white; */
    width: 70px;
}

.logoBlock {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.companyLogo1 {
    width: 60px;
    height: 60px;
    border-radius: 70px;
    margin: 2px;
}

.companyLogo2 {
    width: 60px;
    height: 60px;
    border-radius: 70px;
}

.companyLogo1:hover {
    border: 1px solid white;
    cursor: pointer;
}

.companyLogo2:hover {
    border: 1px solid white;
    cursor: pointer;
}

.expBlock{
    /* background-color: blanchedalmond; */
    width: 340px;
    height: 70%;
    padding: 3px;
    display: none;
}

.eduBlock{
    padding-top: 30px;
    line-height: 26px;
}

.ship{
    width: 150px;
    height: 90px;
    margin-top: 172px;
    position: absolute;
    animation: shipMove 3s linear;
    display: none;
    z-index: 1;
}

@keyframes shipMove{
    0% {left: 0%; opacity: 1;}
    /* 50% { left: 50%;} */
    100% {left: 93%; opacity: 0;}
}

#profileOne{
    animation: divAppear 3s ;
}
@keyframes divAppear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#aboutOne{
    animation: divAppear 3s ;
}

#profileTwo{
    animation: divAppear 5s ;
}
#aboutTwo{
    animation: divAppear 3s ;
}
@keyframes divAppear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#profileThree{
    animation: divAppear 6s ;
}
@keyframes divAppear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.about{
    /* color: white; */
    display: none;
}
.hobyBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.owl{
    width: 100px;
    height: 77px;
    z-index: 1;
    position: absolute;
    margin: -67px 0 0 216px;
}